.main-color {
    background-color: whitesmoke;
}
.hero-color {
    background-color: white;
}
h6 {
    color: #0A3981
}
.btn-blue {
    background-color: #0A3981;
    color: white;
}
.btn-outline-blue {
    color: #0A3981;
    outline-style: solid;
    outline-color: #0A3981;
}
.text-blue {
    color: #0A3981;
}
.gray-text {
    color: #959595;
    font-size: 15px;
}
.text-black {
    color: black;
}
footer {
    background-color: black;
    color: white;
}
.btn-white {
    background-color: white;
    color: black;
    outline: white;
}